

body {
	background-color: lightgray;
}


/* NAVIGATION SECTION */
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}


div {
	border: 1px solid Chocolate;
}
